@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
	max-width: 1400px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	font-family: "Roboto Mono";
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	caret-color: transparent;
}
